# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
espnet.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage
htmlcov
coverage.xml*
bats-core/
shellcheck*
check_shellcheck*
test_spm.vocab
test_spm.model
.vscode*
*.vim
*.swp

espnet_model_zoo/*.zip
espnet_model_zoo/*.tgz
espnet_model_zoo/*.tar
espnet_model_zoo/*/
